*{
	margin:0;
	padding:0;
}
#wrap{
	width: 352px;
	margin:10px 0 0 350px;
	position: relative;
}
.content{
	width: 350px;
	height: 350px;
	border:1px solid #abcdef;
}
.shadow{
	width: 180px;
	height: 180px;
	background: #abcdef;
	opacity: 0.4;
	position: absolute;
	display: none;
	cursor:move;
}
.list{
	width: 352px;
	height: 54px;
	margin-top: 5px;
	position: relative;
}
.left,.right{
	position: absolute;
	width: 22px;
	height: 32px;
	text-decoration: none;
	color: #abcdef;
	border:1px solid #abcdef;
	text-align: center;
	line-height: 32px;
	top: 50%;
	margin-top: -16px;
}
.left{
	left: 0;
}
.right{
	right: 0;
}
.img-list{
	width: 290px;
	height: 54px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.img-list ul{
	width: 348px;
	height: 54px;
	position: absolute;
	top: 0;
	left: 0;
}
.img-list ul li{
	list-style: none;
	float: left;
	margin:0 2px;
}
.img-list ul li img{
	border:2px solid #fff;
}
.img-list ul li img:hover{
	border:2px solid red;
}
.big{
	width: 540px;
	height: 540px;
	/*border:1px solid red;*/
	position: absolute;
	top: 0;
	left: 360px;
	overflow: hidden;
	display: none;
}
.big img{
	position: absolute;
	top: 0;
	left: 0;
}