
*{
	margin:0;
	padding:0;
}
#wrap{
	width: 430px;
	margin:10px 0 0 100px;

}
.content{
	width: 430px;
	height: 430px;
	border:1px solid #abcdef;
	position: relative;
}
.shadow{
	width: 180px;
	height: 180px;
	background: #abcdef;
	opacity: 0.4;
	position: absolute;
	display: none;
	cursor:move;
}
.list{
	width: 432px;
	height: 60px;
	margin-top: 10px;
	position: relative;
}
.left,.right{
	position: absolute;
	width: 18px;
	height: 32px;
	text-decoration: none;
	color: #abcdef;
	border:1px solid #abcdef;
	text-align: center;
	line-height: 32px;
	top:50%;
	margin-top: -16px;/*margin-top:是负的高的一半*/

	/*background: #fff;*/
}
.left{
	left: 0;
}
.right{
	right: 0;
}
.img-list{
	width: 370px;
	height: 64px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	/*z-index: -1;*/
}
.img-list ul{
	width: 500px;
	height: 62px;

	/*margin: 0 25px;*/

	position: absolute;
	top: 0;
	left: 0;
}
.img-list ul li{
	list-style: none;
	float: left;
	margin: 0 5px;
}
.img-list ul li img{
	border:2px solid #fff;
}
.img-list ul li img:hover{
	border:2px solid #abcdef;
}