*{margin:0px;padding: 0px;}

ul{list-style: none;}

header{height: 190px;width: 100%;background: rgb(123,123,123);}
#logo{width: 1200px;height: 190px;margin: auto;}
#nav{
	width: 1200px;
	height: 43px;
	margin: 0 auto;
}
#nav li{
	width: 120px;
	height: 43px;
	line-height: 43px;
	float: left;
	text-align: center;
	background: url(../img/1.png) no-repeat;	/*切图*/
}
#nav li a{
	display: block;
	width: 120px;
	color: #e5af67;
	text-decoration: none;
}
/*#nav li:hover{
	background: blue;
}
#nav li:hover .sub{
	display: block;
}
*/
#nav .sub{
	display: none;
}
#nav .sub a{
	background: #fc6;
	color:#996633;
}
#nav .sub a:hover{
	background: #fff;
	color:#000ddd;
}

#nav .now{
	background: red;
}





/*a标签：行内元素，不能设置宽高，内容有多大a就有多大
		如果要设置宽高，用display：block
*/


