

.main{
	min-width: 1000px;
}
.nav{
	background: #83D667;
	height: 60px;
	padding: 0 100px;
}
.nav-con{
	display: flex;
}
.nav-con a{
	display: block;
	flex: 1;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 100px;
    text-align: center;
}
.nav-con a:hover{
    background: darkkhaki;
}

.nav-con .con-text{
	display: block;
	text-decoration: none;
	width: 200px;
	height: 100px;
	line-height: 40px;
	margin: 30px 48px;
	float: left;
	font-size: 16px;
	color: #fff;
	border:2px solid #fff;
	padding: 10px;
	box-sizing: border-box;
}

.nav-con .con-text p {
	margin:0;
}
.con-article{
	padding: 0 100px;
	margin:auto;
}
.con-article .art-tt{
	font-size: 18px;
}
.con-article .art-tt2 span:first-child{
	display: block;
	float: left;
}
.con-article .art-tt2 span:last-child{
	display: block;
	float: right;
	cursor: pointer;
}
.con-article .art-hr{
	margin: 0
}

.con-article .art-hr span{
	font-family: arial; 
	font-size: 20px;
	color: rgb(113, 191, 29);
}
.con-article .art-con p{
	text-indent: 2em;
}
.con-article .art-con .fr{
	float: right;
	margin-left: 15px;
}