<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>test</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/base.css">

	</head>

	<body>

		<!-- 头部 开始 -->
		<div class="header">
		</div>
		<!-- 头部 结束 -->

		<!-- 导航 开始 -->
		<div class="nav">

		</div>
		<!-- 导航 结束 -->

		<!-- 主要内容 开始 -->
		<div class="main">
		</div>
		<!-- 主要内容 结束 -->

		<!-- 导航底部 开始 -->
		<div class="footer">
			中文
		</div>
		<!-- 导航底部 结束 -->

		<iframe src="base.html" id="www"></iframe>

		<div onclick="translate()" id="box" style="height: 100px;width: 100px;border:1px solid"></div>

		<!-- js -->
		<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
		<!--<script src="js/A.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="http://www.microsoftTranslator.com/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**"></script>
		<script type="text/javascript">
			// jQuery(function($) {
				console.log(window.wsserver);
				//			console.log(www.contentWindow);
				//			console.log("www:"+www.contentWindow.wwww);//父页面获取子页面内容

				var value = sessionStorage.getItem("language");
				document.onreadystatechange = function() {
					if(document.readyState == 'complete') {
						if(value === "1") {
							Microsoft.Translator.Widget.Translate('zh-CHS', 'en', onProgress, onError, onComplete, onRestoreOriginal, 2000);
						}
					}
				}

				function onProgress(value) {}

				function onError(error) {}

				function onComplete() {
					$("#WidgetFloaterPanels").hide();
				}

				function onRestoreOriginal() {}

			// });
				function translate() {
					var value = sessionStorage.getItem("language");
					if(value === "1") {
						sessionStorage.setItem("language", "0");
					} else {
						sessionStorage.setItem("language", "1");
					}
					window.location.reload(); //刷新当前页面.
				}
		</script>

	</body>

</html>