<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>资金详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

	<!-- css -->
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" href="css/assetDetails.css">

</head>
<body>

    <!-- 头部开始 -->
    <div class="header">
        <div class="header-left" onclick="window.location.href='javascript:history.go(-1)'">
            <span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
        </div>
        <div class="header-center">
            <!-- 文字标题 -->
            <span>OUR</span>
        </div>
        <div class="header-right">
            <span></span>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 主要内容开始 -->
    <div class="main">
        <div  class="cont_item">
            <span class="item_text1">名称</span>
            <span class="item_text2">OUR</span>
        </div>

        <div  class="cont_item">
                <span class="item_text1">数量</span>
                <span class="item_text2">1600.00</span>
         </div>

         <div class="cont_intro" >
             <span>简介</span>
            <p>OUR是地球村基金会在 Ethereum (以太坊). 上发行Token, 不仅具有流通价值，同时在以太坊上开发、认证应用、使用链上服务(例如链上转账的矿工费)以及使用BaaS服务都需要支付或燃烧OUR，OUR是作为链上应用运唯一使用到的Token。</p>
         </div>
    </div>
    <p class="cont_btn" >
        <img src="img/common/others/android/drawable-xhdpi/btc.png" alt="">
        <span>提现</span>
    </p>
    <!-- 主要内容 结束 -->



	<!-- js -->
	<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
		jQuery(function($){
			
		});
	</script>
</body>
</html>