<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>已审核</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/audited.css">

</head>
<body>

    <!-- 头部开始 -->
    <div class="header">
        <div class="header-left">
            <span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
        </div>
        <div class="header-center">
            <!-- 文字标题 -->
            <span>实名认证</span>
        </div>
        <div class="header-right">
            <span></span>
        </div>
    </div>
    <!-- 头部结束 -->

    <!-- 主要内容开始 -->
    <div class="main">
    	<div class="con con-t">
			<p class="clearfix">
				<span>真实姓名</span>
				<span class="inp">烈雾风雨城</span>
			</p>
    	</div>
    	<div class="con con-t">
			<p class="clearfix">
				<span>证件号码</span>
				<span class="inp">350582********4548</span>
			</p>
    	</div>
    	<div class="con con-t">
			<p class="clearfix" style="border-bottom-width: 0;">
				<span>所在国家(地区）</span>
				<span class="inp">中国</span>
			</p>
    	</div>
    	<div class="con">
			<p style="font-size:0.13rem;color: #a3afcc;">证件拍照</p>
			<div class="pic front clearfix"></div>
			<p class="tip">身份证正面</p>

			<div class="pic behind clearfix"></div>
			<p class="tip">身份证反面</p>

			<div class="pic handheld clearfix"></div>
			<p class="tip">手持身份证</p>

			<div class="check clearfix">
				<span>审核状态</span>
				<span class="green">
					<img src="img/audited/android/drawable-xhdpi/smrz_icon_success.png" alt="">已通过
				</span>
			</div>
    	</div>
    </div>
    <!-- 主要内容 结束 -->


	<!-- js -->
	<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/plugins/LArea/LAreaCountry.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/plugins/LArea/LAreaCountryData.js"></script>
	<script type="text/javascript">
		jQuery(function($){

		});
	</script>
</body>
</html>