<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>聊天 </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/chat.css"/>

</head>

<body>
<!-- 头部 开始 -->
<div class="header">
    <div class="header-left" onclick="location.href='contact.html'">
        <span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
    </div>
    <div class="header-center">
        <!-- 名字 -->
        <span>Seven</span>
    </div>
    <div class="header-right">
        <img src="img/chat/android/drawable-xhdpi/lt_icon_grzl.png" alt="">
    </div>
</div>
<!-- 头部 开始 -->

<!--主要内容 开始-->
<div class="main">
	<p class="m-time">2018-08-07 15:01</p>
    <div class="m-list clearfix">
        <div class="l-head"><img src="img/chat/android/drawable-xhdpi/tx1.png" alt=""></div>
        <div class="l-con">
            <div class="left"></div>
            <p>最近在忙什么？老朋友好久没见面了，有空过来泡茶。</p>
        </div>
    </div>
    <div class="m-list clearfix">
        <div class="l-head"><img src="img/chat/android/drawable-xhdpi/tx1.png" alt=""></div>
        <div class="l-con">
            <div class="left"></div>
            <p class="sound clearfix">
                <img src="img/chat/android/drawable-xhdpi/chat_icon_yy_left_san.png" alt="">
                <span>15'</span>
            </p>
            <div class="red"></div>
        </div>
    </div>
    <div class="m-list clearfix">
        <div class="l-head"><img src="img/chat/android/drawable-xhdpi/tx1.png" alt=""></div>
        <div class="l-con">
            <div class="left"></div>
            <p class="sound clearfix">
                <img src="img/chat/android/drawable-xhdpi/chat_icon_yy_left_san.png" alt="">
                <span>15'</span>
            </p>
            <div class="red dnone"></div>
        </div>
    </div>
    <div class="m-list clearfix">
        <div class="r-head"><img src="img/chat/android/drawable-xhdpi/tx2.png" alt=""></div>
        <div class="r-con">
            <div class="right"></div>
            <p class="i18n" data-i18n="text">没啥事，晚点过来。</p>
        </div>
    </div>
    <div class="m-list clearfix">
        <div class="r-head"><img src="img/chat/android/drawable-xhdpi/tx2.png" alt=""></div>
        <div class="r-con">
            <div class="right"></div>
            <p class="sound clearfix">
                <img src="img/chat/android/drawable-xhdpi/chat_icon_yy.png" alt="">
                <span>15'</span>
            </p>
            <div class="red"></div>
        </div>
    </div>
</div>
<!--主要内容 结束-->


<!-- 导航底部 -->
<div class="footer">
    <div class="footer-normal" tag="0">
        <img selectattr="src" src="img/chat/android/drawable-xhdpi/lt_icon_yy.png">
    </div>
    <div class="footer-normal" tag="1">
        <input type="text" class="inp">
    </div>
    <div class="footer-normal" tag="2">
        <img selectattr="src" src="img/chat/android/drawable-xhdpi/lt_icon_bq.png">
    </div>
    <div class="footer-normal active" tag="3">
        <img selectattr="src" src="img/chat/android/drawable-xhdpi/lt_icon_tj.png">
    </div>
</div>
<!-- 导航底部 结束 -->

<!-- js -->
<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="../js/plugins/layer/layer_mobile.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/plugins/i18n/i18nInit.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/plugins/i18n/jquery.i18n.properties.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/common.js"></script>
<script type="text/javascript">
    HEADSETING.setData({
        "tophide": "1",
        "backhide": "1",
        "backurl": BASE_WEB_PATH + "friend.html",
        "title": "聊天",
        "edithide": "1",
        "editurl": "",
        "editext": "",
        "topbgcolor": TOPCOLOR,
        "textcolor": "#ffffff"
    });
    HEADSETING.getData();
</script> -->
</body>

</html>