<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>通讯录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" href="css/concat.css">

	</head>

	<body>

		<!-- 头部开始 -->
		<div class="header">
			<div class="header-left" onclick="window.location.href='personal.html'">
				<span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
			</div>
			<div class="header-center">
				<!-- 文字标题 -->
				<span>通讯录</span>
			</div>
			<div class="header-right">
				<span></span>
			</div>
		</div>
		<!-- 头部结束 -->
		<!-- 主要内容开始 -->
		<ul class="cont_ul">
			<li onclick="window.location.href='recommend.html'">
				<div class="li_div">
					<img class="li_img1" src="img/contact/android/drawable-xhdpi/txl_icon_newfriend.png" alt="">
					<span class="li_span">新的朋友</span>
					<img class="li_img2" src="img/common/others/android/drawable-xhdpi/icon_skip.png" alt="">
				</div>
			</li>
			<li>
				<div class="li_div">
					<img class="li_img1" src="img/contact/android/drawable-xhdpi/txl_icon_chat.png" alt="">
					<span class="li_span">群聊</span>
					<img class="li_img2" src="img/common/others/android/drawable-xhdpi/icon_skip.png" alt="">
				</div>
			</li>
		</ul>
		<ul class="cont_ulMax">
			<li onclick="window.location.href='chat.html'">
				<img class="li_img1Max" src="img/chat/android/drawable-xhdpi/tx1.png" alt="">
				<div class="li_divMax">
					<span class="li_spanMax">Tomcat</span>
					<img class="li_img2" src="img/common/others/android/drawable-xhdpi/icon_skip.png" alt="">
				</div>
			</li>
			<li onclick="window.location.href='chat.html'">
                <img class="li_img1Max" src="img/chat/android/drawable-xhdpi/tx1.png" alt="">
				<div class="li_divMax clear_border">
					<span class="li_spanMax">Seven</span>
					<img class="li_img2" src="img/common/others/android/drawable-xhdpi/icon_skip.png" alt="">
				</div>
			</li>
		</ul>
		<!-- 主要内容 结束 -->

		<!-- js -->
		<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
		<script type="text/javascript">
			jQuery(function($) {
                
            });
		</script>
	</body>

</html>