<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实名认证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/plugins//LArea/LArea.css">
	<link rel="stylesheet" type="text/css" href="css/realName.css">

</head>
<body>

    <!-- 头部开始 -->
    <div class="header">
        <div class="header-left" onclick="window.location.href='personal.html'">
            <span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
        </div>
        <div class="header-center">
            <!-- 文字标题 -->
            <span>实名认证</span>
        </div>
        <div class="header-right">
            <span></span>
        </div>
    </div>
    <!-- 头部结束 -->

    <!-- 主要内容开始 -->
    <div class="main">
    	<div class="con">
			<p>真实姓名</p>
			<input class="inp" type="text" placeholder="请输入证件姓名">
    	</div>
    	<div class="con">
			<p>身份证号码</p>
			<input class="inp" type="text" placeholder="请输入身份证号码">
    	</div>
    	<div class="con">
			<p>所在国家(地区)</p>
			<input id="demo"  class="inp" type="text" placeholder="请输入所在国家(地区)">
            <input id="value" type="hidden" value="86">
    	</div>
    	<div class="con">
			<p>证件拍照</p>
			<div class="pic front clearfix">
				<img src="img/notCertified/android/drawable-xhdpi/smrz_icon_add.png" alt="">
				<input type="file">
			</div>
			<p class="tip">身份证正面</p>
			<div class="pic behind clearfix">
				<img src="img/notCertified/android/drawable-xhdpi/smrz_icon_add.png" alt="">
				<input type="file">
			</div>
			<p class="tip">身份证反面</p>
			<div class="pic handheld clearfix">
				<img src="img/notCertified/android/drawable-xhdpi/smrz_icon_add.png" alt="">
				<input type="file">
			</div>
			<p class="tip">手持身份证</p>
			<div class="check clearfix">
				<span>审核状态</span>
				<span>
					<img src="img/notCertified/android/drawable-xhdpi/smrz_icon_wsh.png" alt="">未审核
				</span>
			</div>
    	</div>
    	<div class="con">
			<p>备注</p>
			<div class="txt">
				<textarea></textarea>
			</div>
    	</div>
    	<div class="btn">提交</div>
    </div>
    <!-- 主要内容 结束 -->


	<!-- js -->
	<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/plugins/LArea/LAreaCountry.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/plugins/LArea/LAreaCountryData.js"></script>
	<script type="text/javascript">
		jQuery(function($){
            var area = new LAreaCountry();
            area.init({
                'trigger': '#demo', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
                'valueTo': '#value', //选择完毕后id属性输出到该位置
                'keys': {
                    id: 'id',
                    name: 'name'
                }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
                'type': 1, //数据源类型
                'data': LAreaCountryData //数据源
            });

		});
	</script>
</body>
</html>