<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>推荐OUR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" href="css/recommend.css">

</head>
<body>

    <!-- 头部开始 -->
    <div class="header">
        <div class="header-left" onclick="window.location.href='javascript:history.go(-1)'">
            <span><img src="img/common/others/android/drawable-xhdpi/icon_back.png"></span>
        </div>
        <div class="header-center">
            <!-- 文字标题 -->
            <span>推荐OUR</span>
        </div>
        <div class="header-right">
            <span></span>
        </div>
    </div>
	<!-- 头部结束 -->
	
	<div class="cont_main">
			<div class="img_bj">
				<div class="cont_top">
					<p class="top_text1">OUR</p>	
					<p class="top_text2">优质数字资产交易平台</p>
				</div>
				<div class="cont_center">
					<p class="center_text1">我的推荐码</p>
					<p class="center_text2">H5DY5K</p>
				</div>
				<div class="cont_footer">
					<p class="footer_text">扫描二维码下载APP</p>
					<img class="cont_logo" src="img/common/others/android/drawable-xhdpi/icon_focus_no.png" alt="">
				</div>
				<div class="Btn">
					<p class="cont_btn" >
						<img src="img/recommend/android/drawable-xhdpi/tjour_btc_schb.png" alt="">
						<span class="i18n" data-i18n="text">分享生成</span>
					</p>
				</div>
			</div>
	</div>


	

	<!-- js -->
	<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
		jQuery(function($){
			
		});
	</script>
</body>
</html>