<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/base.css">

</head>
<body>

    <!-- 头部开始 -->
    <div class="header">
        <div class="header-left">
            <span><img src=""></span>
        </div>
        <div class="header-center">
            <!-- 文字标题 -->
            <span></span>
        </div>
        <div class="header-right">
            <span></span>
        </div>
    </div>
    <!-- 头部结束 -->

    <!-- 导航开始 -->
    <div class="nav">
    </div>
    <!-- 导航 结束 -->

    <!-- 主要内容开始 -->
    <div class="main">
    </div>
    <!-- 主要内容 结束 -->


	<!-- 导航底部开始 -->
	<div class="footer">
	    <div class="footer-normal" tag="0">
	        <a href="javascript:void(0)">
	            <img src="">
	            A
	        </a>
	    </div>
	    <div class="footer-normal" tag="1">
	        <a href="javascript:void(0)">
	            <img src="">
	            B
	        </a>
	    </div>
	    <div class="footer-normal" tag="2">
	        <a href="javascript:void(0)">
	            <img src="">
	            C
	        </a>
	    </div>
	    <div class="footer-normal active" tag="3">
	        <a href="javascript:void(0)">
	            <img src="">
	            D
	        </a>
	    </div>
	</div>
	<!-- 底部 结束 -->

	<!-- js -->
	<script type="text/javascript" charset="utf-8" src="js/plugins/JQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript">
		jQuery(function($){
			
		});
	</script>
</body>
</html>