
.main{
	border:1px solid;
	width: 300px;
	/*height: 300px;*/
	margin-top:200px;
}

.main .num{
	width: 100%;
}

.main .num p{
	width: 90%;
	margin: auto;
	text-align: right;
	overflow-x: scroll;
	height: 20px;
}

.main .num p::-webkit-scrollbar{
	width: 0;
	height: 0;
}

.main .keyboard{
	padding: 0 10%;
	/*text-align: center;*/
}
.main .keyboard button{
	width: 22%;
	height: 30px;
	margin-bottom: 10px;
}

.main .keyboard button.zero{
	width: 47.2%;
}